body
{
    background-image: radial-gradient(circle, green, yellow, purple);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_div
{
    text-align: center; 
    color: #282828;
}

h1.main_div
{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#humpty_dumpty
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 250px;
    animation-name: spinning;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#illuminati_eye
{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100px;
    height: 100px;
    animation-name: invert_colors;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#ciccio_img
{
    border:4px solid rgb(28, 28, 28);
    animation-name: random_colors;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.audio_section
{
    text-align: center;
}

@keyframes spinning {
    0% {transform: rotate(360deg);}
    50% {left:0%; top:50%;}
    100% {left:0%; top:0%}
  }

@keyframes invert_colors {
    0% {filter: invert(0%);}
    50% {filter: invert(100%);}
    100% {filter: invert(0%);}
}


@keyframes random_colors {
    0% {filter: hue-rotate(90deg)}
    25% {filter: hue-rotate(210deg)}
    50% {filter: hue-rotate(330deg)}
    75% {filter: hue-rotate(210deg)}
    100% {filter: hue-rotate(90deg)}
}